<div class="container">
    <div class="img"></div>
    <div class="text-container">
        <h1>CAN'T SIGN IN?</h1>
        <h2>Wow! It sure sucks to be you!</h2>
    </div>

    <div class="button-grid-container">
        <app-clickable-icon-button
        [icon]="'user-profile'"
        [title]="'Forgot username?'"
        [text]="'Wow how. We will send you an email or something'">
        </app-clickable-icon-button>
        <app-clickable-icon-button
        [icon]="'lock'"
        [title]="'Lost your password?'"
        [text]="'Lmao how? We will send you an email'">
        </app-clickable-icon-button>
        <app-clickable-icon-button
        [icon]="'mail'"
        [title]="'Lost your email?'"
        [text]="
        'How did you even do that? Honestly you are probably too young to even play this game'
        ">
        </app-clickable-icon-button>
    </div>
</div>