
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tema_web-primary: mat.define-palette(mat.$indigo-palette);
$tema_web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tema_web-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tema_web-theme: mat.define-light-theme((
  color: (
    primary: $tema_web-primary,
    accent: $tema_web-accent,
    warn: $tema_web-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tema_web-theme);

@font-face {
    font-family: "Urbane-DemiBold";
    src: url("assets/font/Urbane-DemiBold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Urbane-Bold";
    src: url("assets/font/Urbane-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("assets/font/Inter-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

*{
    font-family: "Inter-Bold";
}

html, body { height: 100%; }

::ng-deep {
  // .mat-mdc-form-field .mdc-text-field--outlined {
  //     background-color: #f0f0f0;
  // }

  .mdc-text-field--outlined .mdc-notched-outline__leading,
  .mdc-text-field--outlined .mdc-notched-outline__notch,
  .mdc-text-field--outlined .mdc-notched-outline__trailing {
      border: none;
  }

  .mdc-text-field--outlined {
    --mdc-outlined-text-field-focus-label-text-color: #6d6d6d;
    --mdc-outlined-text-field-label-text-color: #c1c1c1;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
    background: #f0f0f0 !important;
  }
  .mat-mdc-checkbox.mat-accent {
    --mdc-checkbox-selected-focus-state-layer-color: #f1f1f1 !important;
    --mdc-checkbox-selected-pressed-state-layer-color: #f1f1f1 !important;
    --mdc-checkbox-selected-checkmark-color: darkgrey !important;
    .mdc-form-field .mdc-checkbox .mdc-checkbox__background {
        background-color: #f1f1f1 !important;
        border: none;
    }
  }
}
